
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Quản lý văn bản</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js">
    <link rel="stylesheet" href="~/Content/summernote-0.8.18-dist/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/Content/Chocolat-1.0.4/chocolat/dist/css/chocolat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/components.css">

    <!-- DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap4.min.css">

    <!-- List -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>
    <div id="app">
        <div class="main-wrapper" style="width:90%">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar" style="margin-left:50px">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>

                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <br />
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/Content/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Ngọc Phạm Bảo</div>
                        </a>
                        <br />
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Hồ sơ
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Cài đặt
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/TroLy/DuThaoVanBanDi">QUẢN LÝ VĂN BẢN</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="/QuanLyHoiVien/Index">QLVB</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header"></li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Dự thảo Văn bản đi</span></a>
                            
                        </li>
                        <li><a class="nav-link" href="blank.html"><i class="far fa-square"></i> <span>Liên hệ</span></a></li>
                    </ul>
                </aside>
            </div>
            <div class="main-content">
                <section class="section">
                    <div class="section-header" style="margin: 2% 3% 2% 7%; width:108%">
                        <h1>Dự thảo Văn bản đi</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a href="#">Dự thảo văn bản đi</a></div>
                            <div class="breadcrumb-item"><a href="/TroLy/NhapMoi">Nhập mới</a></div>
                        </div>
                    </div>
                    <!-- Main Content -->
                    <div class="col-md-11">
                        <div class="card" style="margin: 1.5% 2% 1% 6%; width:122%;">
                            <form method="post" class="needs-validation" novalidate="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-4 col-12">
                                            <label>Số văn bản</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Ký hiệu văn bản</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Ngày văn bản</label>
                                            <input type="date" class="form-control" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4 col-12">
                                            <label>Số bản</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Số tờ</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Ngày đến</label>
                                            <input type="date" class="form-control" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4 col-12">
                                            <label>Họ tên người ký</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Chức vụ người ký</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Số hồ sơ</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4 col-12">
                                            <label>Thủ trưởng duyệt</label>
                                            <input type="text" class="form-control" value="" required="">
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Nơi nhận</label>
                                            <select class="form-control">
                                                <option>Đại đội 152</option>
                                                <option>Đại đội 153</option>
                                                <option>Đại đội 154</option>
                                                <option>Đại đội 155</option>
                                                <option>Đại đội 156</option>
                                                <option>Quân y</option>
                                                <option>Nhà bếp</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Ngôn ngữ</label>
                                            <select class="form-control">
                                                <option>Tiếng Việt</option>
                                                <option>Tiếng Anh</option>
                                                <option>Tiếng Nga</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-md-4 col-12">
                                            <label>Loại văn bản</label>
                                            <select class="form-control">
                                                <option>Quyết định</option>
                                                <option>Kế hoạch</option>
                                                <option>Hướng dẫn</option>
                                                <option>Báo cáo</option>
                                                <option>Nghị quyết</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Lĩnh vực</label>
                                            <select class="form-control">
                                                <option>Công tác Đảng- Công tác chính trị</option>
                                                <option>Quân sự hành chính</option>
                                                <option>Đào tạo và Huấn luyện</option>
                                                <option>Hậu cần kĩ thuật</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Hạn giải quyết</label>
                                            <input type="date" class="form-control" value="" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4 col-12">
                                            <label>Độ mật</label>
                                            <select class="form-control">
                                                <option>Tuyệt mật</option>
                                                <option>Tối mật</option>
                                                <option>Mật</option>
                                                <option>Thường</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4 col-12">
                                            <label>Độ khẩn</label>
                                            <select class="form-control">
                                                <option>Hỏa tốc</option>
                                                <option>Thưởng khẩn</option>
                                                <option>Khẩn</option>
                                                <option>Thường</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-12" style="margin-left:-3%">
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlTextarea1">Ghi chú</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="height:8%; width:106.55%"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-12" style="margin-left:-3%">
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlTextarea1">Trích yếu</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="height:8%; width:106.55%"></textarea>
                                        </div>
                                    </div>

                                    <div class="section-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <h6>File đính kèm</h6>
                                                    <div class="card-body">
                                                        <form action="#" class="dropzone" id="mydropzone">
                                                            <div class="fallback">
                                                                <input name="file" type="file" multiple />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button class="btn btn-primary">Lưu thay đổi</button>
                                    <button class="btn btn-primary">Thoát</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left col-12" style="margin-left:5%">
                    Copyright &copy; 2021 <div class="bullet"></div> Design By <a href="https://www.facebook.com/yooji20/">Phạm Bảo Ngọc</a> - <a href="https://www.facebook.com/ngaosxeeng/">Nguyễn Thị Nga</a>
                </div>
                <div class="col-md-12" style="margin-top:30px; margin-left:5%">
                    Học viện Kỹ thuật Quân sự, Cổ Nhuế 1, Bắc Từ Liêm, Hà Nội
                </div>
                <div class="col-md-12" style="margin-top:8px; margin-left:5%">
                    SĐT:               - Email:
                </div>
            </footer>

            <!-- General JS Scripts -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
            <script src="~/Content/js/stisla.js"></script>

            <!-- JS Libraies -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
            <script src="~/Content/node_modules/chart.js/dist/Chart.min.js"></script>
            <script src="~/Content/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
            <script src="~/Content/summernote-0.8.18-dist/summernote-bs4.js"></script>
            <script src="~/Content/Chocolat-1.0.4/dist/js/jquery.chocolat.min.js"></script>

            <!-- Template JS File -->
            <script src="~/Content/js/scripts.js"></script>
            <script src="~/Content/js/custom.js"></script>

            <!-- Page Specific JS File -->
            <script src="~/Content/js/page/index.js"></script>

            <!-- Data table -->

            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
            <script>
                $(document).ready(function () {
                    var d = new Date();
                    var table = $('#example').DataTable({
                        lengthChange: false,
                        "language": {
                            "sProcessing": "Đang xử lý...",
                            "sLengthMenu": "Xem _MENU_ mục",
                            "sZeroRecords": "Không tìm thấy thông tin phù hợp",
                            "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                            "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                            "sInfoPostFix": "",
                            "sSearch": "Tìm kiếm: ",
                            "sUrl": "",
                            "oPaginate": {
                                "sFirst": "Đầu",
                                "sPrevious": "Trước",
                                "sNext": "Tiếp",
                                "sLast": "Cuối"
                            }
                        },
                        buttons: [
                            {
                                extend: 'colvis',
                                text: 'Chọn',
                                className: 'btn btn-info btn-md'
                            },
                            {
                                extend: 'copy',
                                text: 'Sao chép',
                                className: 'btn btn-info btn-md'
                            },
                            {
                                extend: 'excel',
                                text: 'Xuất file excel',
                                className: 'btn btn-info btn-md',
                                filename: 'TheoDoiVanBanDen_' + d.getDate().toString() + '.' + d.getMonth().toString() + '.' + d.getFullYear().toString(),
                                title: 'THỐNG KÊ THEO DÕI, GIẢI QUYẾT VĂN BẢN ĐẾN'
                            },
                            {
                                extend: 'pdf',
                                text: 'Xuất file pdf',
                                className: 'btn btn-info btn-md',
                                filename: 'TheoDoiVanBanDen_' + d.getDate().toString() + '.' + d.getMonth().toString() + '.' + d.getFullYear().toString(),
                                title: 'THỐNG KÊ THEO DÕI, GIẢI QUYẾT VĂN BẢN ĐẾN'
                            },
                            {
                                extend: 'print',
                                text: 'In',
                                className: 'btn btn-info btn-md',
                                title: 'THỐNG KÊ THEO DÕI, GIẢI QUYẾT VĂN BẢN ĐẾN'
                            }]
                    });

                    table.buttons().container()
                        .appendTo('#example_wrapper .col-md-6:eq(0)');
                });
            </script>
            <script>
                $(document).ready(function () {
                    var d = new Date();
                    var table = $('#_example').DataTable({
                        lengthChange: false,
                        "language": {
                            "sProcessing": "Đang xử lý...",
                            "sLengthMenu": "Xem _MENU_ mục",
                            "sZeroRecords": "Không tìm thấy thông tin phù hợp",
                            "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                            "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                            "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                            "sInfoPostFix": "",
                            "sSearch": "Tìm kiếm: ",
                            "sUrl": "",
                            "oPaginate": {
                                "sFirst": "Đầu",
                                "sPrevious": "Trước",
                                "sNext": "Tiếp",
                                "sLast": "Cuối"
                            }
                        },
                        buttons: [
                            {
                                extend: 'colvis',
                                text: 'Chọn',
                                className: 'btn btn-info btn-md'
                            },
                            {
                                extend: 'copy',
                                text: 'Sao chép',
                                className: 'btn btn-info btn-md'
                            },
                            {
                                extend: 'excel',
                                text: 'Xuất file excel',
                                className: 'btn btn-info btn-md',
                                filename: 'DangKyVanBanDen_' + d.getDate().toString() + '.' + d.getMonth().toString() + '.' + d.getFullYear().toString(),
                                title: 'DANH SÁCH ĐĂNG KÝ VĂN BẢN ĐẾN'
                            },
                            {
                                extend: 'pdf',
                                text: 'Xuất file pdf',
                                className: 'btn btn-info btn-md',
                                filename: 'DangKyVanBanDen_' + d.getDate().toString() + '.' + d.getMonth().toString() + '.' + d.getFullYear().toString(),
                                title: 'DANH SÁCH ĐĂNG KÝ VĂN BẢN ĐẾN'
                            },
                            {
                                extend: 'print',
                                text: 'In',
                                className: 'btn btn-info btn-md',
                                title: 'DANH SÁCH ĐĂNG KÝ VĂN BẢN ĐẾN'
                            }]
                    });

                    table.buttons().container()
                        .appendTo('#_example_wrapper .col-md-6:eq(0)');
                });

            </script>
            <!-- List -->
            <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>


