
@{
    ViewBag.Title = "DangKiVanBanDi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header" style="margin: 2% 3% 2% 7%; width:108%">
            <h1>Đăng kí văn bản đi</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Văn bản đi</a></div>
                <div class="breadcrumb-item"><a href="/VanBanDen/NhapMoi">Đăng kí văn bản đi</a></div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="col-md-11">
            <div class="card" style="margin: 1.5% 2% 1% 6%; width:122%;">
                <form method="post" class="needs-validation" novalidate="">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-12">
                                <label>Số văn bản</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Ký hiệu văn bản</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Ngày văn bản</label>
                                <input type="date" class="form-control" value="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-12">
                                <label>Số bản</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Số tờ</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Ngày đến</label>
                                <input type="date" class="form-control" value="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-12">
                                <label>Họ tên người ký</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Chức vụ người ký</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Số hồ sơ</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-12">
                                <label>Thủ trưởng duyệt</label>
                                <input type="text" class="form-control" value="" required="">
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Nơi nhận</label>
                                <select class="form-control">
                                    <option>Đại đội 152</option>
                                    <option>Đại đội 153</option>
                                    <option>Đại đội 154</option>
                                    <option>Đại đội 155</option>
                                    <option>Đại đội 156</option>
                                    <option>Quân y</option>
                                    <option>Nhà bếp</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Ngôn ngữ</label>
                                <select class="form-control">
                                    <option>Tiếng Việt</option>
                                    <option>Tiếng Anh</option>
                                    <option>Tiếng Nga</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-md-4 col-12">
                                <label>Loại văn bản</label>
                                <select class="form-control">
                                    <option>Quyết định</option>
                                    <option>Kế hoạch</option>
                                    <option>Hướng dẫn</option>
                                    <option>Báo cáo</option>
                                    <option>Nghị quyết</option>

                                </select>
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Lĩnh vực</label>
                                <select class="form-control">
                                    <option>Công tác Đảng- Công tác chính trị</option>
                                    <option>Quân sự hành chính</option>
                                    <option>Đào tạo và Huấn luyện</option>
                                    <option>Hậu cần kĩ thuật</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Hạn giải quyết</label>
                                <input type="date" class="form-control" value="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-12">
                                <label>Độ mật</label>
                                <select class="form-control">
                                    <option>Tuyệt mật</option>
                                    <option>Tối mật</option>
                                    <option>Mật</option>
                                    <option>Thường</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-12">
                                <label>Độ khẩn</label>
                                <select class="form-control">
                                    <option>Hỏa tốc</option>
                                    <option>Thưởng khẩn</option>
                                    <option>Khẩn</option>
                                    <option>Thường</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-12" style="margin-left:-3%">
                            <div class="form-group col-12">
                                <label for="exampleFormControlTextarea1">Ghi chú</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="height:8%; width:106.55%"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-12" style="margin-left:-3%">
                            <div class="form-group col-12">
                                <label for="exampleFormControlTextarea1">Trích yếu</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="height:8%; width:106.55%"></textarea>
                            </div>
                        </div>

                        <div class="section-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <h6>File đính kèm</h6>
                                        <div class="card-body">
                                            <form action="#" class="dropzone" id="mydropzone">
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary">Lưu thay đổi</button>
                        <button class="btn btn-primary">Thoát</button>
                    </div>


                </form>
            </div>
        </div>
    </section>
</div>


