
@{
    ViewBag.Title = "DanhSachDangKyVanBanDi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header" style="margin: 2% 3% 2% 4.5%; width:110%">
            <h5 style="color:black; margin:0">Danh sách đăng kí văn bản đi</h5>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Văn bản đi</a></div>
                <div class="breadcrumb-item"><a href="/VanBanDi/DanhSachDangKyVanBanDi">Danh sách đăng ký văn bản đi</a></div>
            </div>
        </div>
        <div class="section-body" style="margin: 1% 2% 0% 4.5%; padding:2.5% 1.5%; background-color: white; box-shadow: 0 8px 8px 3px rgba(0, 0, 0, 0.03); width:110%; height:110%;">
            <div class="container" style="margin: 0% 2% 4% 0%;">
                <table id="dkvanbandi" class="table table-bordered table-hover" style="width:100%">
                    <thead style="text-align: center; font-size:12px">
                        <tr>
                            <th>STT</th>
                            <th>Số văn bản</th>
                            <th>Ngày văn bản</th>
                            <th>Trích yếu</th>
                            <th>Số lượng bản</th>
                            <th>Số lượng tờ</th>
                            <th>Độ mật</th>
                            <th>Số hồ sơ</th>
                            <th>Cơ quan nhận</th>
                            <th>Ngày chuyển</th>

                        </tr>
                    </thead>
                    <tbody style="font-size:13px; font-family:'Gill Sans', sans-serif">
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Công văn về chấp hành kỷ luật Quân Đội</td>
                            <td>1</td>
                            <td>2</td>
                            <td>Tối mật</td>
                            <td>1</td>
                            <td>ALL</td>
                            <td>14/10/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

