
@{
    ViewBag.Title = "VanBanChoPhatHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section" style="margin: 2% 3% 2% 4.5%; width:110%">
        <div class="section-header">
            <h5 style="color:black; margin:0">Văn bản chờ phát hành</h5>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="/Home/Index">Văn bản đi</a></div>
                <div class="breadcrumb-item"><a href="#">Văn bản chờ phát hành</a></div>
            </div>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="chophathanh" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                STT
                                            </th>
                                            <th>Số văn bản</th>
                                            <th>Ngày văn bản</th>
                                            <th>Trích yếu</th>
                                            <th>Độ mật</th>
                                            <th>Độ khẩn</th>
                                            <th>Trạng thái</th>
                                            <th>Ghi chú</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>15QH</td>
                                            <td>14/10/2021</td>
                                            <td>Văn bản về chấp hành kier luận trong Quân đội</td>
                                            <td>Tuyệt mật</td>
                                            <td>Khẩn</td>
                                            <td>Chờ phát hành</td>
                                            <td>Phát hành đến tất cả các đơn vị trực thuộc trong Tiểu đoàn</td>
                                            <td><a href="/VanBanDi/PhatHanhVanBan" class="btn btn-primary">Phát Hành</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>15QH</td>
                                            <td>14/10/2021</td>
                                            <td>Văn bản về chấp hành kier luận trong Quân đội</td>
                                            <td>Tuyệt mật</td>
                                            <td>Khẩn</td>
                                            <td>Chờ phát hành</td>
                                            <td>Phát hành đến tất cả các đơn vị trực thuộc trong Tiểu đoàn</td>
                                            <td><a href="/VanBanDi/PhatHanhVanBan" class="btn btn-primary">Phát Hành</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>15QH</td>
                                            <td>14/10/2021</td>
                                            <td>Văn bản về chấp hành kier luận trong Quân đội</td>
                                            <td>Tuyệt mật</td>
                                            <td>Khẩn</td>
                                            <td>Chờ phát hành</td>
                                            <td>Phát hành đến tất cả các đơn vị trực thuộc trong Tiểu đoàn</td>
                                            <td><a href="/VanBanDi/PhatHanhVanBan" class="btn btn-primary">Phát Hành</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>15QH</td>
                                            <td>14/10/2021</td>
                                            <td>Văn bản về chấp hành kier luận trong Quân đội</td>
                                            <td>Tuyệt mật</td>
                                            <td>Khẩn</td>
                                            <td>Chờ phát hành</td>
                                            <td>Phát hành đến tất cả các đơn vị trực thuộc trong Tiểu đoàn</td>
                                            <td><a href="/VanBanDi/PhatHanhVanBan" class="btn btn-primary">Phát Hành</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

