
@{
    ViewBag.Title = "DanhSachDangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-content">
    <section class="section">
        <div class="section-header" style="margin: 2% 3% 2% 7%; width:108%">
            <h1>Danh sách đăng ký văn bản đến</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Văn bản đến</a></div>
                <div class="breadcrumb-item"><a href="/VanBanDen/DanhSachDangKy">Danh sách đăng ký văn bản đến</a></div>
            </div>
        </div>
    </section>   
</div>







