
@{
    ViewBag.Title = "ThongKeTinhHinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header" style="margin: 2% 3% 2% 4.5%; width:110%">
            <h5 style="color:black; margin:0">Thống kê tình hình giải quyết văn bản đến</h5>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Văn bản đến</a></div>
                <div class="breadcrumb-item"><a href="/VanBanDen/ThongKeTinhHinh">Thống kê tình hình văn bản đến</a></div>
            </div>
        </div>
        <div class="section-body" style="margin: 1% 2% 0% 4.5%; padding:2.5% 1.5%; background-color: white; box-shadow: 0 8px 8px 3px rgba(0, 0, 0, 0.03); width:110%; height:110%;">
            <div class="container" style="margin: 0% 2% 4% 0%;">
                <table id="example" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Số đến</th>
                            <th>Số văn bản</th>
                            <th>Ngày văn bản</th>
                            <th>Cơ quan phát hành</th>
                            <th>Người / Đơn vị nhận</th>
                            <th>Hạn giải quyết</th>
                            <th>Độ mật</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV16_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>CV15_ĐT</td>
                            <td>2011/20/15</td>
                            <td>Phòng chính trị</td>
                            <td>Tiểu đoàn 1</td>
                            <td>2011/04/25</td>
                            <td>Tối mật</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


